
h4{
 padding-left: 83%;
 font-family: fantasy;
}
h2 {
  font-family: fantasy;
  font-size: 3rem;
  line-height: 1.5;
}
p {
  color: #8f8f8f;
}
/* main-heading */

.main-heading
{
  font-famil: fantasy;
  font-size: 3.5rem;
  line-height: 1.5;
}
#title {
  background-color: #ff4c68;
}
.container-fluid {
  padding: 3% 15% 4%;
  color: #fff;
}
/* select */
.colored-section{
    color: #fff;
}
.white-section
{
  background-color: #fff;
}

/* NAV-bar */
.navbar {
  padding: 0 0 2.5rem;
}
.nav-item {
  padding: 18px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserratx";
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.2rem;
  font-weight: bold;
}

/* Download-Botton */
.Download-button {
  margin: 5% 3% 5% 0%;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  /* position: absolute; */
  left: 100%;
}

#features {
  padding: 7% 15%;

  position: relative;
  z-index: 1;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials-section */
#testimonials {
  text-align: center;
  background-color: #ef8172;

}

.testimonial-text {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 5%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
}

/* prising=section */
#pricing {
  padding: 100px;
  text-align: center;
}

.prising-coloum {
  padding: 3% 2%;
}

@meadia (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);

  }
}
/* <!-- Call to Action --> */
#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.cta-font {
  font-size: 3.5rem;
  line-height: 1.5 font-family: fantasy;
}

.btn {
  margin: :20px 20px 5%;
}

/* footer */
#footer {
  padding: 5% 10%;
  text-align: center;
  font-size: 20px;
}
.social-icon {
  margin: 20px 10px;
}
